/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* beginning of my code */

html,body,#wrapper{
    width: 100%;
    height: 100%;
    transition: .2s ease;
}

body.dark{
    background: #050827;
    color: #fff;
}
body.dark #menu li a{
    color: #fff;
}
body.dark #menu li a:hover{
    background: #5b73f7;
}
body.dark main .conns a{
    animation: flip .5s ease-in-out;
    color: #fff;
}
body.dark main .conns a:hover{
    color: #3F51B5;
}
body.dark .dash{
    background: #fff;
}
body.dark .hr::after{
    background: #050827;
}

#wrapper{
    text-align: center;
}

#menu{
    display: block;
    font-family: 'Roboto Mono', monospace;
    transition: .2s ease;
}

#menu li{
    display: inline-block;
    margin: 45px 22.5px;
}

#menu li a{
    padding: 4px 9px;
    display: block;
    text-decoration: none;
    font-size: 16px;
    line-height: 149%;
    color: #000;
    transition: .2s ease;
}

#menu li a:hover{
    background: #3F51B5;
    color: #fff;
}

.hamb-menu{
    display: none;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
}

main .userpic{
    margin-top: 178px;
    width: 102px;
    height: 102px;
    background-image: url("/assets/img/profile.png");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    margin-bottom: 15px;
}

main h1{
    font-size: 26px;
    margin: 15px 0;
}
main h2{
    font-size: 16px;
    font-weight: light;
    margin: 15px 0;
    line-height: 18px;
}

main .conns{
    margin: 25px;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    width: 140px;
}

main .conns a{
    width: 20px;
    height: 20px;
    display: inline-block;
    text-decoration: none;
    color: #000;
    transition: .2s ease;
    animation: back-flip .5s ease-in-out;
}

main .conns a:hover{
    color: #3F51B5;
}

.dash{
    height: 1px;
    width: 30px;
    background: #1A1A1A;
    display: block;
    transform-origin: center;
    position: absolute;
    transform: rotate(0deg);
    transition-duration: .3s;
}

#dash-top{
    top: 0px;
}
#dash-mid{
    top: 10px;
}
#dash-bot{
    top: 20px;
}

.hr{
    width: 550px;
    margin: 50px auto;
    background: #F0F0F0;
    height: 2px;
    position: relative;
    z-index: 1;
}
.hr::after{
    content: "< >";
    position: absolute;
    width: 35px;
    left: calc(50% - 17.5px);
    top: -9px;
    background: #fff;
    color: #F0F0F0;
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
    font-weight: bold;
    z-index: 1;
    transition: .2s ease;
}

footer{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto Mono', monospace;
    font-size: 13px;
    font-weight: light;
}

#mode-darkmode{
    margin: 24px;
    position: relative;
}

#mode-darkmode input{
    display: none;
}

#mode-darkmode label{
    position: relative;
    padding-left: 25px;
    cursor: pointer;
}

#mode-darkmode label::before{
    content: '';
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    background-image: url(/assets/svg/lightmode.svg);
    background-size: contain;
    animation: check .3s ease;
}
#mode-darkmode label::after{
    display: none;
    background-image: url(/assets/svg/darkmode.svg);
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    left: 0px;
    top: 0px;
    background-size: contain;
    animation: check .3s ease;
}

#mode-darkmode input:checked + label::before{
    display: none;
}

#mode-darkmode input:checked + label::after{
    display: block;
}

@keyframes check{
    from{
        transform: scale(0.1);
    }
    to{
        transform: scale(1);
    }
}

@keyframes flip{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

@keyframes back-flip{
    from{
        transform: rotate(360deg);
    }
    to{
        transform: rotate(0deg);
    }
}

@keyframes hamb1{
    0%{
        top: 0px;
        
    }
    50%{
        top: 10px;
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(45deg);
    }
}
@keyframes hamb2{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
        top: 10px;
    }
    
}
@keyframes hamb3{
    0%{
        top: 20px;
        
    }
    50%{
        top: 10px;
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-45deg);
    }
}

@media only screen and (max-width: 640px){
    header{
        position: relative;
    }
    header .nav{
        position: relative;
    }
    .hamb-menu{
        position: absolute;
        right: 15px;
        top: 15px;
        width: 30px;
        z-index: 3;
        display: block;
        height: 30px;
    }
    .hamb-menu.active #dash-top{
        top: 10px;
        transform: rotate(45deg);
        /* animation: hamb1 .3s ease; */
    }
    .hamb-menu.active #dash-mid{
        opacity: 0;
        top: 10px;
        /* animation: hamb2 .3s ease; */
    }
    .hamb-menu.active #dash-bot{
        transform: rotate(-45deg);
        top: 10px;
        /* animation: hamb3 .3s ease; */
    }
        
    #wrapper{
        width: 100%;
        box-sizing: border-box;
    }
    #menu{
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        background: #fff;
        margin-top: 140px;
        z-index: 3;
    }
    #menu li{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #menu li a{
        font-size: 20px;
        padding: 8px 32px;
    }
    .hr{
        width: 80%;
        margin: 60px auto;
        box-sizing: border-box;
    }  
}